<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Điểm học sinh | Giáo viên chủ nhiệm</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Main CSS-->
	<link rel="stylesheet" type="text/css" th:href="@{/home/css/main.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
	<!-- or -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
	
	<!-- Font-icon css-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body onload="time()" class="app sidebar-mini rtl">
	<!-- Navbar-->
  	<header class="app-header">
    	<!-- Navbar Right Menu-->
    	<ul class="app-nav">
			<!-- User Menu-->
    		<li>
    			<a class="app-nav__item" th:href="@{/logout}">
    				<i class='bx bx-log-out bx-rotate-180'></i> 
    			</a>
    		</li>
    	</ul>
  	</header>
  	<!-- Sidebar menu-->
  	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  	<aside class="app-sidebar">
    	<div class="app-sidebar__user">
    		<img class="app-sidebar__user-avatar" th:src="@{/images/hay.jpg}" width="50px" alt="User Image">
      		<div>
        		<p class="app-sidebar__user-name" th:object="${#session.getAttribute('userLogin')}">
        			<b th:text="*{ho}"></b>
        			<b th:text="*{ten}"></b>
        		</p>
        		<p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
      		</div>
    	</div>
    	<hr>
	    <ul class="app-menu">
	      	<li>
		      	<a class="app-menu__item" th:href="@{/gvcn/home}">
		      		<i class='app-menu__icon bx bxs-home'></i>
		      		<span class="app-menu__label">Trang chủ</span>
		      	</a>
	     	</li>
	      	<li>
		      	<a class="app-menu__item " th:href="@{/gvcn/danhsachlop}">
		      		<i class='app-menu__icon bx bx-list-ul'></i> 
		      		<span class="app-menu__label">Lớp từng phụ trách</span>
		    	</a>
		  	</li>
	      	<li>
		      	<a class="app-menu__item active" th:href="@{/gvcn/danhsachhocsinh}">
		      		<i class='app-menu__icon bx bx-list-check'></i>
		      		<span class="app-menu__label">Lớp đang phụ trách</span>
		      	</a>
	      	</li>
	      	<li>
		      	<a class="app-menu__item" th:href="@{/gvcn/thongtincanhan}">
		      		<i class='app-menu__icon bx bx-detail'></i>
		      		<span class="app-menu__label">Thông tin cá nhân</span>
		      	</a>
	      	</li>
	      	<li>
		      	<a class="app-menu__item" th:href="@{/logout}">
		      		<i class='app-menu__icon bx bx-log-out'></i>
		      		<span class="app-menu__label">Đăng xuất</span>
		      	</a>
	    	</li>
	    </ul>
  	</aside>
  	<!-- Main contain -->
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active">
                	<a th:href="@{/gvcn/danhsachhocsinh}">
                		<b>
	               			Danh sách học sinh <span th:text="${lopCN.tenLH}"></span>
	               			 - <span th:text="${lopCN.tenKH}"></span>
	               			 - <span th:text="${lopCN.tenNH}"></span>
               			</b>
                	</a>
                	 / 
	               	<a th:href="@{#}">
	               		<b>
	               			Điểm học sinh <span th:text="${student.ho}"></span> <span th:text="${student.ten}"></span>
	               		</b>
	               	</a>
                	
                </li>
               
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
                              	<a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()">
                              		<i class="fas fa-print"></i> 
                              		In dữ liệu
                              	</a>
                            </div>
                            <div class="col-sm-2">
                              	<a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép">
                              		<i class="fas fa-copy"></i> 
                              		Sao chép
                              	</a>
                            </div>
                            <div class="col-sm-2">
                              	<a class="btn btn-excel btn-sm" href="" title="In">
                              		<i class="fas fa-file-excel"></i> 
                              		Xuất Excel
                              	</a>
                            </div>
                            <div class="col-sm-2">
                              	<a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)">
                              		<i class="fas fa-file-pdf"></i> 
                              		Xuất PDF
                              	</a>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th width="10"><input type="checkbox" id="all"></th>
                                    <th>Mã</th>
                                    <th>Kỳ học</th>
                                    <th>Môn học</th>
                                    <th>Điểm hệ 1</th>
                                    <th>Điểm hệ 2</th>
                                    <th>Điểm hệ 3</th>
                                    <th>Trung bình</th>
                                </tr>
                            </thead>
                            <tbody th:if="${list != null && !list.empty}">
                            	<div th:each="diem: ${list}">
	                                <tr class="diem" th:object="${diem}">
	                                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
	                                    <td th:text=*{maHS}></td>
	                                    <td class="hocKy" th:text=*{hocKy.tenHK}></td>
	                                    <td th:text=*{monHoc.tenMH}></td>
	                                    <td th:text=*{diemHe1}></td>
	                                    <td th:text=*{diemHe2}></td>
	                                    <td th:text=*{diemHe3}></td>
	                                    <td class="diemTB">[[*{#numbers.formatDecimal(tinhTrungBinh, 1, 2, 'POINT')}]]</td>
	                                </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
        	<div class="col-md-6">
	        	<table style="background-color: #81aacd; color: white;" class="table table-hover table-bordered" id="sampleTable">
	        		<thead>
	        			<tr>
	        				<th width="50%"></th>
	        				<th width="25%">Điểm TB</th>
	        				<th width="25%">Học lực</th>
	        			</tr>
	        		</thead>
		            <tbody>
	                    <tr>
	                    	<td>Kỳ 1 </td>
	                    	<td id="TBK1"></td>
	                    	<td id="HLK1"></td>
	                    </tr>
	                    <tr>
	                    	<td>Kỳ 2 </td>
	                    	<td id="TBK2"></td>
	                    	<td id="HLK2"></td>
	                    </tr>
	                    <tr>
	                    	<td>Cả năm </td>
	                    	<td id="TBK3"></td>
	                    	<td id="HLK3"></td>
	                    </tr>
		            </tbody>
		        </table>
	        </div>
        </div>
    </main>

    <!-- Essential javascripts for application to work-->
    <script th:src="@{/home/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/home/js/popper.min.js}"></script>
    <script th:src="@{/home/js/bootstrap.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/home/js/jquery.table2excel.js}"></script>
    <script th:src="@{/home/js/main.js}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script th:src="@{/home/js/plugins/pace.min.js}"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" th:src="@{/home/js/plugins/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/plugins/dataTables.bootstrap.min.js}"></script>
    
    <script type="text/javascript">
        $('#sampleTable').DataTable();
        //Thời Gian
	    function time() {
	      var today = new Date();
	      var weekday = new Array(7);
	      weekday[0] = "Chủ Nhật";
	      weekday[1] = "Thứ Hai";
	      weekday[2] = "Thứ Ba";
	      weekday[3] = "Thứ Tư";
	      weekday[4] = "Thứ Năm";
	      weekday[5] = "Thứ Sáu";
	      weekday[6] = "Thứ Bảy";
	      var day = weekday[today.getDay()];
	      var dd = today.getDate();
	      var mm = today.getMonth() + 1;
	      var yyyy = today.getFullYear();
	      var h = today.getHours();
	      var m = today.getMinutes();
	      var s = today.getSeconds();
	      m = checkTime(m);
	      s = checkTime(s);
	      nowTime = h + " giờ " + m + " phút " + s + " giây";
	      if (dd < 10) {
	        dd = '0' + dd
	      }
	      if (mm < 10) {
	        mm = '0' + mm
	      }
	      today = day + ', ' + dd + '/' + mm + '/' + yyyy;
	      tmp = '<span class="date"> ' + today + ' - ' + nowTime +
	        '</span>';
	      document.getElementById("clock").innerHTML = tmp;
	      clocktime = setTimeout("time()", "1000", "Javascript");
	
	      function checkTime(i) {
	        if (i < 10) {
	          i = "0" + i;
	        }
	        return i;
	      }
	    }
    </script>
    
    <script type="text/javascript">
    	$(document).ready(function() {
    		var tong = 0, n = 0;
    		
    		// ky 1
			$('.diem').each(function() {
				if ($(this).children('.hocKy').text().indexOf("Kỳ I ") != -1) {
					tong += Number($(this).children('.diemTB').text());
					n += 1;
				}
			})
			var tbk1 = 0;
			
			if (n > 0) {
				tbk1 = tong/n;
			}
			
			$('#TBK1').text(Number(tbk1));
			
			if (tbk1 >= 8.0) {
				$('#HLK1').text("Giỏi");
			} else if (tbk1 >= 6.5) {
				$('#HLK1').text("Khá");
			} else if (tbk1 >= 5.0) {
				$('#HLK1').text("Trung bình");
			} else {
				$('#HLK1').text("Yếu");
			}
			
			// ky 2
			tong = 0;
			n = 0;
			
			$('.diem').each(function() {
				if ($(this).children('.hocKy').text().indexOf("Kỳ II ") != -1 ) {
					tong += Number($(this).children('.diemTB').text());
					n += 1;
				}
			})
			
			var tbk2 = 0;
			
			if (n > 0) {
				tbk2 = tong/n;
			}
			
			$('#TBK2').text(Number(tbk2));
			
			if (tbk2 >= 8.0) {
				$('#HLK2').text("Giỏi");
			} else if (tbk2 >= 6.5) {
				$('#HLK2').text("Khá");
			} else if (tbk2 >= 5.0) {
				$('#HLK2').text("Trung bình");
			} else {
				$('#HLK2').text("Yếu");
			}
			
			// cả năm
			
			var cn = (tbk1 + tbk2*2)/3
			$('#TBK3').text(Number(cn));
			
			if (cn >= 8.0) {
				$('#HLK3').text("Giỏi");
			} else if (cn >= 6.5) {
				$('#HLK3').text("Khá");
			} else if (cn >= 5.0) {
				$('#HLK3').text("Trung bình");
			} else {
				$('#HLK3').text("Yếu");
			}
    	});
    </script>
</body>

</html>